<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.spicejet.tests.RoundTrip_SearchFlightTest"/>
      <class name="com.spicejet.tests.DummyPaymentTest"/>
      <class name="com.spicejet.tests.LoginTest"/>
      <class name="com.spicejet.tests.OneWay_SearchFlightsTest"/>
      <class name="com.spicejet.tests.SignUpTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
